<div class="content">
  <div class="split">
    <div class="text">
      <h1 class="title">Degree of Engagement Diagram explanation</h1>
      <div id="donut-2" class="donut-button">
        <div class="ring ring1 r-outerLast"></div>
        <div class="ring ring2 r-outer"></div>
        <div class="ring ring3 r-middle"></div>
        <div class="ring ring4 r-center"></div>
      </div>
      <div class="detailProject">
        <p>The DoE diagram (Degree of engagement) diagram shows you how engaged organisations are in you're project.
          This ranges from the core group to the outer ring. The core group in this case are the organisations that are
          directly involved in the project. Every other ring's organisations are one step removed from the core process
          of the project.</p>
      </div>
      <div class="exact">
        <button id="coreLegendButton" class="selector1"></button>
        <p class="subtitle">Organizations involved in the project</p>

        <button id="coreLegendButton1" class="selector2"></button>
        <p class="subtitle">Organizations involved with core project organizations</p>


        <button id="coreLegendButton2" class="selector3"></button>
        <p class="subtitle">Organisations with no direct contact with the core project organisations</p>


        <button id="coreLegendButton3" class="selector4"></button>
        <p class="subtitle">Organizations involved with non core organizations</p>

        <div class="btnExtra">
          <div class="btn-group-vertical">
            <button class="dropbtn">organisation</button>
            <button class="dropbtn">second organisation</button>
            <button class="dropbtn">another organisation</button>
          </div>
        </div>
        <div class="wrapper">
          <p class="legendText">
            The first degree speaks for, itself it shows the organisations directly involved in the project. For the
            other degree's more explanation is required. We take the other projects the core members are involved with
            and give back the other organisations involved in those projects. We do the same for the next degree's,
            while also excluding organisations from previous degree's. So each degree is one step removed from the
            organisations in the core group.
          </p>
          <p class="orgsText">
            One's you have clicked on a project and a degree (one of the rings in the diagram) you will see a list of
            organisations. You can click on a organisation to get more information on them. You will be send to their
            own organisation page. You can also go too the project's page by clicking on 'go to project ->'.
          </p>
        </div>

      </div>
    </div>
  </div>
</div>

