<div class="p-4" style="background-color: lightgray">

  <div class="w-25 mainBgColor">Main kleur</div>

  <div class="w-25 secondaryColor">Grijze achtergrond kleur</div>

  <div class="w-25 mainText" >Main text kleur</div>

  <div class="w-25 secondaryText">Donkergrijze text kleur</div>

    <form>
      <div class="w-25 input-group">
        <div class="mainBgColor mainText input-group-text">Icon</div>
        <input class="form-control" value="form">
      </div>
    </form>

  <button type="button" class="btn mainBgColor mainText">Button</button>

  <div class="w-25 pt-3">
    <div class="mainBgColor rounded-top">Popup enz</div>
    <div class="secondaryColor rounded-start rounded-end rounded-bottom">
      Content<br>
      Content<br>
      Content<br>
      Content
    </div>
  </div>
</div>
